body {
    font-family: "Times New Roman", Arial, Verdana;
    font-size: 24px;
}

.title {
    font-size: 60px;
}

.recipe {
    font-size: 24px;
}

.moussaka,
.description {
    color: black;
}

.banana-banana-bread,
.ingredients {
    color: red;
}

.chicken-fried-chicken,
.steps {
    color: #d5b60a;
}

.title.description,
.title.ingredients,
.title.steps {
    color: grey;
    font-size: 45px;
    font-weight: bold;
}



